<form action='/messages/create' method='POST'>
  {{> input label="Your Message:" id="message-text" name="text" placeholder="Your Name" required='required'}}
  {{> button type="submit" text="Create Message" class="mt2"}}
</form>