<form action="/messages/create" method="POST">
  <label>
    Message:
    <input type="text" name="text" placeholder="Type message here..." />
  </label>
  <button type="submit">Create Message</button>
</form>