<form action="/messages/{{message.id}}/edit" method="POST">
  <label>
    Message:
    <input type="text" name="text" value="{{message.text}}" />
  </label>
  <button type="submit">Update Message</button>
</form>