<form action="/messages/{{message.id}}/edit" method="POST">
  <label>
    <strong>Message:</strong>
    <input class="dib input-reset pa2 w-20 br2 mr2" type="text" name="text" value="{{message.text}}" />
  </label>
  {{> button type="submit" text="Update Message"}}
</form>