<header class="flex items-center justify-between bb pv1 mb4">
  <strong class="f3">{{ title }}</strong>
  <ul class="list flex">
    <li class="pr4">{{> link href="/" text="Home"}}</li>
    <li>{{> link href="/about" text="About"}}</li>
  </ul>
</header>