<turbo-stream action="after" target="message_{{previousMessageId}}_list_item">
  <template>
    <li id="message_{{message.id}}_list_item" class="bb pv3">
      <turbo-frame id="message_{{message.id}}">
        {{> message message=message}}
      </turbo-frame>
    </li>
  </template>
</turbo-stream>
<turbo-stream action="replace" target="messages-count">
  <template>
    <turbo-frame id="messages-count">
      <strong class="db mv3">Messages Count:
        {{messagesCount}}</strong>
    </turbo-frame>
  </template>