<turbo-stream action="replace" target="message_{{message.id}}">
  <template>
    <turbo-frame id="message_{{message.id}}">
      <li>Message Deleted</li>
    </turbo-frame>
  </template>
</turbo-stream>