<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
  <script type="module">
    import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
  </script>
  <script type="module">
    import alpinejs from 'https://cdn.jsdelivr.net/npm/alpinejs@3.13.2/+esm'
  </script>
</head>

<body class="helvetica pa3">
  {{> header title=title}}
  <turbo-frame id="create-new-message">
    {{> createMessageForm }}
  </turbo-frame>
  <turbo-frame id="messages" src="/messages">
    <p>Loading...</p>
  </turbo-frame>
  {{> footer}}
</body>

</html>