<turbo-frame id="messages">
  <turbo-stream-source src="/messages/events"></turbo-stream-source>
  <h1 class="f1">Messages</h1>
  {{#if messages}}
  <ul>
    {{#each messages}}
      <turbo-frame id="message_{{this.id}}">
        {{> message message=this}}
      </turbo-frame>
    {{/each}}
  </ul>
  {{else}}
    <p>No messages yet.</p>
  {{/if}}
</turbo-frame>
