<turbo-frame id="messages">
  <h1 class="f2 mt4 mb2">Messages</h1>
  {{#if messages}}
  <ul class="list pl0 ma0">
    {{#each messages}}
      <li id="message_{{this.id}}_list_item" class="bb pv3">
        <turbo-frame id="message_{{this.id}}">
          {{> message message=this}}
        </turbo-frame>
      </li>
    {{/each}}
  </ul>
  {{else}}
    <p>No messages yet.</p>
  {{/if}}
</turbo-frame>
